[git-commit]
description = 'Creates a commit and returns its hash'
dir = "{{cwd}}"
run = "node $MISE_TASK_DIR/commit-and-get-hash/commit-and-get-hash.js"

[git-purge]
description = 'Deletes specified branches locally and remotely'
dir = "{{cwd}}"
usage = """
arg "branches" var=#true help="Git branches to delete"
complete "branches" run="mise run git-purge-completion"
"""
run = "node $MISE_TASK_DIR/purge-branch/purge-branch.js"

[git-purge-completion]
description = 'Get the deletable branches'
dir = "{{cwd}}"
hide = true
quiet = true
usage = """
arg "[branches]" var=#true help="Git branches to delete"
"""
run = "node $MISE_TASK_DIR/purge-branch/purge-branch-completion.js"

[git-sync]
description = 'Pulls changes from a branch and merges them into the current one'
dir = "{{cwd}}"
usage = """
flag "-s --strategy <strategy>" default="" help="Merge strategy"
arg "targetBranch" help="Git branch to pull changes from and merge into the current one"
complete "targetBranch" run="mise run git-sync-completion"
"""
run = "node $MISE_TASK_DIR/sync-current-branch/sync-current-branch.js"

[git-sync-completion]
description = 'Get the branches to pull changes from'
dir = "{{cwd}}"
hide = true
quiet = true
run = "node $MISE_TASK_DIR/sync-current-branch/sync-current-branch-completion.js"
