name: test
on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu, windows, macos]
        node: ['lts/*']
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - run: npm ci
      - run: npm test
