name: test
on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        node: ['lts/*', 'latest']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - run: npm test
